$navbarPrimary-Color:#101828;


// .primery-color{
//     background-color: $navbarPrimary-Color;
//     color: white;
//     position: absolute;
//     bottom: 0px;
// }


footer{
    background-color: $navbarPrimary-Color;
    position: absolute;
    bottom: 0px;
    color: white;
    text-align: center;
}