$navbarPrimary-Color:#101828;

.navbar-bg {
  background-color: $navbarPrimary-Color;
  color: white;
}

.menu{
  background-color: $navbarPrimary-Color;
    color: white;
   
}
.items{
    color: white;

}